<div class="header animated fadeInDown">
    <!-- 导航 -->
    <div class="nav">
        <li>
            <a href="/" class="current">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/archive">Archive</a>
        </li>
    </div>
    <!-- 个人信息 -->
    <div class="information">
        <div class="back-btn">
            <span>
                <a class="fa fa-chevron-left" onclick="window.history.go(-1)" style="display:none;"></a>
            </span>
        </div>
        <div class="avatar">
            <img src="{{ site.avatar }}" />
        </div>
    </div>
</div>