<!DOCTYPE html>
<html>
{% include meta.html %}

<body>
    {{ content }}
    <!-- JS载入 -->
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.appear.js"></script>
    <script type="text/javascript" src="/assets/js/prism.js"></script>
    <script type="text/javascript" src="/assets/js/pure.js"></script>
    <!-- Valine 评论 -->
    {% include valine.html %}
    <!-- 百度站点分析 -->
    {% include baidu-analytics.html %}

</body>

</html>