<!DOCTYPE html>
<html>
{% include meta.html %}

<body>
    {{ content }}
    <!-- JS载入 -->
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.appear.js"></script>
    <script type="text/javascript" src="/assets/js/prism.js"></script>
    <script type="text/javascript" src="/assets/js/pure.js"></script>
    <!--Leancloud 操作库:-->
    <script type="text/javascript" src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <!--Valine 的核心代码库-->
    <script type="text/javascript" src="/assets/js/Valine.min.js"></script>
    <script type="text/javascript">
        new Valine({
            av: AV, // 引入av-min.js
            el: '.{{ site.Valine.el }}',
            app_id: '{{ site.Valine.appid }}',
            app_key: '{{ site.Valine.appkey }}',
            verify: '{{ site.Valine.verify }}',
            notify: '{{ site.Valine.notify }}',
            placeholder: '{{ site.Valine.placeholder }}',
        });
    </script>
    <!-- 百度站点分析 -->
    <div class="analysis">
        <script>
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?42da34bc287b122ce843ef2151c75b2a";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    </div>
</body>

</html>